/*
 This css file is for login, register, credentials recover and all other 
 credentials related pages

 @author: Yuxuan (Hardison) Wang */

/* form error */


input.input-error,
select.input-error {
    border-color: red;
}

input[type=submit]:disabled {
    opacity: 0.3;
}

.myform {
    background-color: #01412720;
    box-shadow: 4px 4px 4px;
    border: 3px;
    border-radius: 5px;
    border-color: steelblue;
    border-style: solid;

}

.labels {
    float: inline-start;
    font-weight: bold;
    text-align: left;
    margin-bottom: 2px;
}

.error {
    color: red;
    font-style: italic;
}

button {
    margin: 3px;
}

#login-button {
    width: 100%;
}

#recover-page-button {
    display: flex;
    justify-content: center;
}

#recover-page-button input {
    height: 3em;
    margin: 17px;
}

#message-box {
    text-align: center;
    margin-left: 28%;
    margin-right: 28%;
}

.success-box {
    margin-left: 28%;
    margin-right: 28%;
    text-align: center;
    background-color: #01412720;
    border: 3px;
    border-radius: 5px;
    border-color: steelblue;
    border-style: solid;
    width: max-content;
}

.success-box * {
    margin: 10px;
}